/*
 Theme Name:   Unite Child
 Theme URI:    http://example.com/unite/
 Description:  Unite Child Theme
 Author:       Stefanita Soare
 Author URI:   http://example.com
 Template:     unite
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  unite-child
*/

body {
  background: #fafafa;
}


/* Taxonomy terms */
.taxonomy-container .taxonomy-title{
  font-weight: normal;
  display: inline-block;
}
.taxonomy-container .taxonomy-terms{
  list-style: none;
  display: inline-block;
  padding: 0;
}
.taxonomy-container .taxonomy-terms li{
  display: inline-block;
  padding: 0 3px;
}
.taxonomy-container .taxonomy-terms li:after{
  content: ',';
}
.taxonomy-container .taxonomy-terms li:last-child:after{
  content: '.';
}

/* Top Menu */
.navbar .navbar-nav li a{
  color: #fff;
}